Repository neville-nazerane/smart-home: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/background.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

Path conditions:
  pipelines/background.yaml: any of: src/SmartHome.BackgroundProcessor, pipelines/background.yaml
  pipelines/webAPI.yaml: any of: src/SmartHome.WebAPI, src/SmartHome.ServerServices, src/SmartHome.Models, pipelines/webAPI.yaml
  pipelines/website.yaml: any of: src/SmartHome.Website, pipelines/website.yaml

fixed checking enabled on multiple scenes
  src/SmartHome.ServerServices/Scenes/ScenesService.cs
Due: pipelines/webAPI.yaml

button to roller
  src/SmartHome.ClientServices/SmartContext.cs
  src/SmartHome.Models/Contracts/IBondClient.cs
  src/SmartHome.Models/SmartContextBase.cs
  src/SmartHome.Models/SmartDevices.custom.cs
  src/SmartHome.ServerServices/Automation/AutomationService.front.cs
  src/SmartHome.ServerServices/Clients/BondClient.cs
  src/SmartHome.WebAPI/Endpoints.cs
  src/SmartHome.Website/Components/Device.razor
Due: pipelines/webAPI.yaml, pipelines/website.yaml

trigger kitchen first
  src/SmartHome.ServerServices/Scenes/ScenesService.front.cs
Due: pipelines/webAPI.yaml

fixed time formatting
  src/SmartHome.Website/Pages/ListenedLogs.razor
Due: pipelines/website.yaml

fixing logs for rotation
  src/SmartHome.ServerServices/Automation/AutomationService.front.cs
Due: pipelines/webAPI.yaml

patched http calls
  src/SmartHome.MobileApp/SmartHome.MobileApp.csproj
Due: none

listing setup
  src/SmartHome.MobileApp/MauiProgram.cs
  src/SmartHome.MobileApp/Pages/ScenesPage.xaml
  src/SmartHome.MobileApp/SmartHome.MobileApp.csproj
  src/SmartHome.MobileApp/ViewModels/ScenesViewModel.cs
Due: none

scenes functional
  src/SmartHome.MobileApp/MauiProgram.cs
  src/SmartHome.MobileApp/Pages/ScenesPage.xaml
  src/SmartHome.MobileApp/Pages/ScenesPage.xaml.cs
  src/SmartHome.MobileApp/ValueConverters/BoolToGreenConverter.cs
  src/SmartHome.MobileApp/ViewModels/ScenesViewModel.cs
Due: none

patching up bedroom
  src/SmartHome.ServerServices/Scenes/ScenesService.bedroom.cs
Due: pipelines/webAPI.yaml

adjusting brightness based on rotation
  src/SmartHome.Models/PhilipsHue/RotaryModel.cs
  src/SmartHome.ServerServices/Automation/AutomationService.front.cs
  src/SmartHome.ServerServices/Clients/PhilipsHueClient.cs
Due: pipelines/webAPI.yaml

catching possible errors in goodnight
  src/SmartHome.ServerServices/Scenes/ScenesService.bedroom.cs
  src/SmartHome.ServerServices/Scenes/ScenesService.cs
Due: pipelines/webAPI.yaml

catching on front room
  src/SmartHome.ServerServices/Scenes/ScenesService.front.cs
Due: pipelines/webAPI.yaml

fixed logging
  src/SmartHome.BackgroundProcessor/Services/BondProcessor.cs
  src/SmartHome.BackgroundProcessor/Services/HueProcessor.cs
Due: pipelines/background.yaml

tv lights setup
  src/SmartHome.Models/SceneNames.custom.cs
  src/SmartHome.Models/SmartDevices.cs
  src/SmartHome.Models/SmartDevices.custom.cs
  src/SmartHome.ServerServices/Scenes/ScenesService.custom.cs
  src/SmartHome.ServerServices/Scenes/ScenesService.front.cs
Due: pipelines/webAPI.yaml

cool utils
  src/SmartHome.ServerServices/Utils/RetryUtil.cs
Due: pipelines/webAPI.yaml

patching lights and fans
  src/SmartHome.ClientServices/SmartContext.cs
  src/SmartHome.Models/Contracts/IBondClient.cs
  src/SmartHome.Models/SmartContextBase.cs
  src/SmartHome.ServerServices/Clients/BondClient.cs
  src/SmartHome.ServerServices/Clients/PhilipsHueClient.cs
  src/SmartHome.ServerServices/Utils/RetryUtil.cs
  src/SmartHome.WebAPI/Endpoints.cs
Due: pipelines/webAPI.yaml

fixup
  src/SmartHome.ServerServices/Scenes/ScenesService.bedroom.cs
Due: pipelines/webAPI.yaml

fixed em all
  src/SmartHome.ServerServices/Scenes/ScenesService.front.cs
Due: pipelines/webAPI.yaml

set tv lights based on front room
  src/SmartHome.ServerServices/Scenes/ScenesService.front.cs
Due: pipelines/webAPI.yaml

trottle me
  src/SmartHome.ServerServices/Clients/Utils/ThrottleHandler.cs
Due: pipelines/webAPI.yaml

hue sync setup
  src/SmartHome.Models/Contracts/IHueSyncClient.cs
  src/SmartHome.ServerServices/Clients/HueSyncClient.cs
  src/SmartHome.ServerServices/ServiceExtensions.cs
Due: pipelines/webAPI.yaml

fan fallbacks
  src/SmartHome.ServerServices/Clients/BondClient.cs
Due: pipelines/webAPI.yaml

hue sync setup
  src/SmartHome.ClientServices/SmartContext.cs
  src/SmartHome.Models/Contracts/IHueSyncClient.cs
  src/SmartHome.Models/SmartContextBase.cs
  src/SmartHome.Models/SmartDevices.custom.cs
  src/SmartHome.ServerServices/Clients/HueSyncClient.cs
  src/SmartHome.ServerServices/SmartContext.cs
  src/SmartHome.WebAPI/Endpoints.cs
Due: pipelines/webAPI.yaml

syncing based on scene
  src/SmartHome.Models/SceneNames.custom.cs
  src/SmartHome.ServerServices/Automation/AutomationService.custom.cs
  src/SmartHome.ServerServices/Automation/AutomationService.front.cs
Due: pipelines/webAPI.yaml

setting bedroom scene to false
  src/SmartHome.ServerServices/Automation/AutomationService.front.cs
Due: pipelines/webAPI.yaml

supressing exceptions trying to access devices
  src/SmartHome.Models/SmartDevices.cs
Due: pipelines/webAPI.yaml

tv sync switch
  src/SmartHome.ServerServices/Scenes/ScenesService.custom.cs
  src/SmartHome.ServerServices/Scenes/ScenesService.front.cs
Due: pipelines/webAPI.yaml

fixing up front service
  src/SmartHome.ServerServices/Scenes/ScenesService.front.cs
Due: pipelines/webAPI.yaml

hue sync bug fix: force lights to go off in a min
  src/SmartHome.ServerServices/Automation/AutomationService.front.cs
  src/SmartHome.ServerServices/Scenes/ScenesService.front.cs
Due: pipelines/webAPI.yaml

in creased delay.... fixed condition for tv lights
  src/SmartHome.ServerServices/Automation/AutomationService.front.cs
  src/SmartHome.ServerServices/Scenes/ScenesService.front.cs
Due: pipelines/webAPI.yaml

try catching on closing front room
  src/SmartHome.ServerServices/Scenes/ScenesService.front.cs
Due: pipelines/webAPI.yaml

arranged front dial buttons
  src/SmartHome.ServerServices/Automation/AutomationService.front.cs
Due: pipelines/webAPI.yaml

fixed
  src/SmartHome.ServerServices/Automation/AutomationService.front.cs
Due: pipelines/webAPI.yaml

insect trap setup
  src/SmartHome.BackgroundProcessor/AutomationTimer.cs
  src/SmartHome.Models/SmartDevices.custom.cs
  src/SmartHome.ServerServices/Automation/AutomationService.custom.cs
  src/SmartHome.ServerServices/Automation/AutomationService.front.cs
Due: pipelines/background.yaml, pipelines/webAPI.yaml

endable middle light
  src/SmartHome.ServerServices/Automation/AutomationService.custom.cs
  src/SmartHome.ServerServices/Automation/AutomationService.front.cs
  src/SmartHome.ServerServices/Scenes/ScenesService.bedroom.cs
  src/SmartHome.ServerServices/Scenes/ScenesService.front.cs
  src/SmartHome.WebAPI/Program.cs
Due: pipelines/webAPI.yaml

using bedroom sensor
  src/SmartHome.ServerServices/Automation/AutomationService.front.cs
Due: pipelines/webAPI.yaml

front good night setup
  src/SmartHome.Models/SceneNames.custom.cs
  src/SmartHome.ServerServices/Automation/AutomationService.bedroom.cs
  src/SmartHome.ServerServices/Automation/AutomationService.front.cs
Due: pipelines/webAPI.yaml

set up front good night
  src/SmartHome.ServerServices/Automation/AutomationService.front.cs
  src/SmartHome.ServerServices/Scenes/ScenesService.bedroom.cs
  src/SmartHome.ServerServices/Scenes/ScenesService.cs
  src/SmartHome.ServerServices/Scenes/ScenesService.custom.cs
  src/SmartHome.ServerServices/Scenes/ScenesService.front.cs
Due: pipelines/webAPI.yaml

setting pr: none on background
  pipelines/background.yaml
Due: pipelines/background.yaml
