Repository neville-nazerane/smart-home: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/background.yaml, pipelines/webAPI.yaml, pipelines/website.yaml

Path conditions:
  pipelines/background.yaml: any of: src/SmartHome.BackgroundProcessor, pipelines/background.yaml
  pipelines/webAPI.yaml: any of: src/SmartHome.WebAPI, src/SmartHome.ServerServices, src/SmartHome.Models, pipelines/webAPI.yaml
  pipelines/website.yaml: any of: src/SmartHome.Website, pipelines/website.yaml

flipped front goodnight
  src/SmartHome.ServerServices/Scenes/ScenesService.front.cs
Due: pipelines/webAPI.yaml

fixed based on scene enabled
  src/SmartHome.ServerServices/Automation/AutomationService.front.cs
  src/SmartHome.ServerServices/Scenes/ScenesService.front.cs
Due: pipelines/webAPI.yaml

killing goodnight controlling middle light
  src/SmartHome.ServerServices/Automation/AutomationService.front.cs
Due: pipelines/webAPI.yaml

fixing up light 100%
  src/SmartHome.ServerServices/Automation/AutomationService.front.cs
  src/SmartHome.ServerServices/Scenes/ScenesService.front.cs
Due: pipelines/webAPI.yaml

android created
  pipelines/android.yaml
Due: none

pipeline setup
  pipelines/android.yaml
  src/ReleaseNotes.txt
  src/SmartHome.MobileApp/SmartHome.MobileApp.csproj
  src/smart home.sln
Due: none

removing targets to fix compile bug
  src/SmartHome.MobileApp/SmartHome.MobileApp.csproj
Due: none

important cleanup
  src/SmartHome.MobileApp/Platforms/Android/AndroidManifest.xml
Due: none

restricted fan
  src/SmartHome.ServerServices/Scenes/ScenesService.front.cs
Due: pipelines/webAPI.yaml

movie setup
  src/SmartHome.Models/SceneNames.custom.cs
  src/SmartHome.ServerServices/Scenes/ScenesService.custom.cs
  src/SmartHome.ServerServices/Scenes/ScenesService.front.cs
Due: pipelines/webAPI.yaml

updated hue gradient
  src/SmartHome.Models/SmartDevices.custom.cs
  src/SmartHome.ServerServices/Scenes/ScenesService.bedroom.cs
Due: pipelines/webAPI.yaml

fixed light id
  src/SmartHome.Models/SmartDevices.custom.cs
Due: pipelines/webAPI.yaml

fixed up pipelines
  pipelines/android.yaml
  pipelines/webAPI.yaml
  pipelines/website.yaml
Due: pipelines/webAPI.yaml, pipelines/website.yaml

layed out jcomputer
  src/SmartHome.MobileApp/AppShell.xaml
  src/SmartHome.MobileApp/Pages/ComputerPage.xaml
  src/SmartHome.MobileApp/Pages/ComputerPage.xaml.cs
  src/SmartHome.MobileApp/SmartHome.MobileApp.csproj
Due: none

light binding
  src/SmartHome.MobileApp/MauiProgram.cs
  src/SmartHome.MobileApp/Pages/ComputerPage.xaml
  src/SmartHome.MobileApp/Pages/ComputerPage.xaml.cs
  src/SmartHome.MobileApp/ViewModels/ComputerViewModel.cs
Due: none

fixed on device changed binding
  src/SmartHome.MobileApp/ViewModels/ComputerViewModel.cs
Due: none

computer light setup
  src/SmartHome.MobileApp/Pages/ComputerPage.xaml
  src/SmartHome.MobileApp/ViewModels/ComputerViewModel.cs
Due: none

trying out actions
  src/SmartHome.MobileApp/MauiProgram.cs
  src/SmartHome.MobileApp/Platforms/Android/MainActivity.cs
Due: none

setup goodnight killer action
  src/SmartHome.MobileApp/App.xaml.cs
  src/SmartHome.MobileApp/MauiProgram.cs
  src/SmartHome.MobileApp/Models/AppActionType.cs
  src/SmartHome.MobileApp/Platforms/Android/MainActivity.cs
  src/SmartHome.MobileApp/SmartHome.MobileApp.csproj
  src/SmartHome.MobileApp/Utils/AppActionExtensions.cs
Due: none

turning OFF good night mode
  src/SmartHome.MobileApp/App.xaml.cs
Due: none

action page
  src/SmartHome.MobileApp/App.xaml.cs
  src/SmartHome.MobileApp/MainPage.xaml
  src/SmartHome.MobileApp/MainPage.xaml.cs
  src/SmartHome.MobileApp/Pages/ActionRunningPage.xaml
  src/SmartHome.MobileApp/Pages/ActionRunningPage.xaml.cs
  src/SmartHome.MobileApp/SmartHome.MobileApp.csproj
  src/SmartHome.MobileApp/Utils/AppActionExtensions.cs
Due: none

custom endpoint
  src/SmartHome.WebAPI/Endpoints.cs
Due: pipelines/webAPI.yaml

checking for bedroom bedroom before turning off
  src/SmartHome.ServerServices/Automation/AutomationService.bedroom.cs
  src/workload-install.ps1
Due: pipelines/webAPI.yaml
