Repository neville-nazerane/smart-home: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/background.yaml, pipelines/website.yaml

pipelines/background.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: CI
    jobs:
    - job: Compile
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core sdk
        inputs:
          packageType: sdk
          includePreviewVersions: true
          version: 7.x
  ...

pipelines/website.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: null
    displayName: Build Blazor
    jobs:
    - job: Compile
      steps:
      - script: dotnet publish $(projectPath) -c release -o published
        displayName: Publishing Website
      - task: ArchiveFiles@2
        displayName: Compress before publish
  ...

setting up db
  src/SmartHome.ClientServices/ChangeListener.cs
  src/SmartHome.ServerServices/Migrations/20230622023914_Scene.Designer.cs
  src/SmartHome.ServerServices/Migrations/20230622023914_Scene.cs
  src/SmartHome.ServerServices/ServiceExtensions.cs
  src/SmartHome.Website/Pages/Scenes.razor
  src/SmartHome.Website/Pages/Scenes.razor.cs
Due: pipelines/website.yaml

creating scenes
  src/SmartHome.Models/SceneNames.custom.cs
  src/SmartHome.Website/Components/Loader.razor
  src/SmartHome.Website/MainLayout.razor
  src/SmartHome.Website/Pages/Index.razor
  src/SmartHome.Website/Pages/Scenes.razor
  src/SmartHome.Website/Pages/Scenes.razor.cs
Due: pipelines/website.yaml

scenes abstraction
  src/SmartHome.BackgroundProcessor/Services/BondProcessor.cs
  src/SmartHome.BackgroundProcessor/Services/HueProcessor.cs
  src/SmartHome.ClientServices/SmartContext.cs
  src/SmartHome.Models/Contracts/IBondClient.cs
  src/SmartHome.Models/Contracts/IPhilipsHueClient.cs
  src/SmartHome.Models/Contracts/IScenesService.cs
  src/SmartHome.Models/PhilipsHue/LightModel.cs
  src/SmartHome.Models/SmartContextBase.cs
  src/SmartHome.ServerServices/Clients/BondClient.cs
  src/SmartHome.ServerServices/Clients/HttpClientUtils.cs
  src/SmartHome.ServerServices/Clients/PhilipsHueClient.cs
  src/SmartHome.ServerServices/ScenesService.cs
  src/SmartHome.ServerServices/ServiceExtensions.cs
  src/SmartHome.ServerServices/SmartContext.cs
  src/SmartHome.WebAPI/Endpoints.cs
  src/SmartHome.WebAPI/Program.cs
  src/SmartHome.Website/Pages/Scenes.razor.cs
Due: pipelines/background.yaml, pipelines/website.yaml

fixed injection
  src/SmartHome.ServerServices/ServiceExtensions.cs
Due: none

fixed updating
  src/SmartHome.ClientServices/ChangeListener.cs
  src/SmartHome.ClientServices/SmartContext.cs
  src/SmartHome.Models/Contracts/IScenesService.cs
  src/SmartHome.ServerServices/ScenesService.cs
  src/SmartHome.WebAPI/Endpoints.cs
  src/SmartHome.Website/MainLayout.razor
  src/SmartHome.Website/Pages/Index.razor.cs
  src/SmartHome.Website/Pages/Scenes.razor
  src/SmartHome.Website/Pages/Scenes.razor.cs
Due: pipelines/website.yaml

fixed injections
  src/SmartHome.BackgroundProcessor/Services/BondProcessor.cs
  src/SmartHome.BackgroundProcessor/Services/HueProcessor.cs
  src/SmartHome.BackgroundProcessor/Services/MainProcessor.cs
Due: pipelines/background.yaml

switching
  src/SmartHome.Models/SceneNames.custom.cs
  src/SmartHome.ServerServices/ScenesService.cs
  src/SmartHome.ServerServices/ScenesService.custom.cs
Due: none

setting up computer light
  src/SmartHome.Models/SmartDevices.custom.cs
  src/SmartHome.ServerServices/ScenesService.custom.cs
Due: none

bedroom button
  src/SmartHome.BackgroundProcessor/Services/HueProcessor.cs
  src/SmartHome.BackgroundProcessor/Util/BackgroundQueue.cs
  src/SmartHome.ClientServices/SmartContext.cs
  src/SmartHome.Models/Contracts/IScenesService.cs
  src/SmartHome.ServerServices/Automation/AutomationService.bedroom.cs
  src/SmartHome.ServerServices/Automation/AutomationService.cs
  src/SmartHome.ServerServices/ScenesService.cs
  src/SmartHome.WebAPI/Endpoints.cs
Due: pipelines/background.yaml

bedroom scene
  src/SmartHome.ClientServices/SmartContext.cs
  src/SmartHome.Models/Bond/CeilingFanModel.cs
  src/SmartHome.Models/Contracts/IBondClient.cs
  src/SmartHome.Models/SmartContextBase.cs
  src/SmartHome.ServerServices/Clients/BondClient.cs
  src/SmartHome.ServerServices/ScenesService.custom.cs
  src/SmartHome.WebAPI/Endpoints.cs
Due: none

setting bedroom scenes
  src/SmartHome.BackgroundProcessor/Services/HueProcessor.cs
  src/SmartHome.ServerServices/Automation/AutomationService.bedroom.cs
  src/SmartHome.ServerServices/ScenesService.cs
  src/SmartHome.ServerServices/ScenesService.custom.cs
Due: pipelines/background.yaml

created client
  src/SmartHome.ServerServices/Clients/ISmartThingsClient.cs
  src/SmartHome.ServerServices/Clients/SmartThingsClient.cs
Due: none

hiding execute functions
  src/SmartHome.ServerServices/Clients/ISmartThingsClient.cs
  src/SmartHome.ServerServices/Clients/SmartThingsClient.cs
  src/SmartHome.ServerServices/ServiceExtensions.cs
Due: none

switch bot setup
  src/SmartHome.ClientServices/SmartContext.cs
  src/SmartHome.Models/Contracts/ISmartThingsClient.cs
  src/SmartHome.Models/DeviceType.cs
  src/SmartHome.Models/Setting.cs
  src/SmartHome.Models/SmartContextBase.cs
  src/SmartHome.Models/SmartDevices.custom.cs
  src/SmartHome.Models/SmartHome.Models.csproj
  src/SmartHome.ServerServices/Clients/ISmartThingsClient.cs
  src/SmartHome.ServerServices/Clients/SmartThingsClient.cs
  src/SmartHome.ServerServices/SmartContext.cs
  src/SmartHome.WebAPI/Endpoints.cs
Due: none

signalr fallback
  src/SmartHome.ClientServices/ChangeListener.cs
Due: none

computer button pressed
  src/SmartHome.Models/SmartDevices.custom.cs
  src/SmartHome.ServerServices/Automation/AutomationService.bedroom.cs
  src/SmartHome.ServerServices/Automation/AutomationService.custom.cs
Due: none

fixed hardcoded bedroom
  src/SmartHome.ServerServices/ScenesService.custom.cs
Due: none

front ids
  src/SmartHome.Models/SmartDevices.custom.cs
Due: none

more ids
  src/SmartHome.Models/SmartDevices.custom.cs
Due: none

bedroom motion
  src/SmartHome.Models/SmartDevices.custom.cs
  src/SmartHome.ServerServices/Automation/AutomationService.bedroom.cs
  src/SmartHome.ServerServices/Automation/AutomationService.custom.cs
  src/SmartHome.ServerServices/Automation/AutomationService.front.cs
  src/SmartHome.ServerServices/Scenes/ScenesService.bedroom.cs
  src/SmartHome.ServerServices/Scenes/ScenesService.cs
  src/SmartHome.ServerServices/Scenes/ScenesService.custom.cs
  src/SmartHome.ServerServices/ServiceExtensions.cs
Due: none

front room scene
  src/SmartHome.Models/SceneNames.custom.cs
  src/SmartHome.Models/SmartDevices.custom.cs
  src/SmartHome.ServerServices/Automation/AutomationService.custom.cs
  src/SmartHome.ServerServices/Automation/AutomationService.front.cs
  src/SmartHome.ServerServices/Scenes/ScenesService.custom.cs
  src/SmartHome.ServerServices/Scenes/ScenesService.front.cs
Due: none

front room press
  src/SmartHome.ServerServices/Automation/AutomationService.custom.cs
  src/SmartHome.ServerServices/Automation/AutomationService.front.cs
Due: none

bedroom timer
  src/SmartHome.ServerServices/Automation/AutomationService.bedroom.cs
  src/SmartHome.ServerServices/Automation/AutomationService.closet.cs
  src/SmartHome.ServerServices/Automation/AutomationService.custom.cs
Due: none

added middle light to front scene
  src/SmartHome.ServerServices/Scenes/ScenesService.front.cs
Due: none

front motion sensor
  src/SmartHome.ServerServices/Automation/AutomationService.custom.cs
  src/SmartHome.ServerServices/Automation/AutomationService.front.cs
Due: none

good night scene
  src/SmartHome.ServerServices/Automation/AutomationService.bedroom.cs
  src/SmartHome.ServerServices/Automation/AutomationService.closet.cs
  src/SmartHome.ServerServices/Scenes/ScenesService.bedroom.cs
  src/SmartHome.ServerServices/Scenes/ScenesService.custom.cs
Due: none

force good night to call bedroom
  src/SmartHome.ServerServices/Scenes/ScenesService.bedroom.cs
  src/SmartHome.ServerServices/Scenes/ScenesService.cs
Due: none

supress bedroom motion sensors
  src/SmartHome.ClientServices/SmartContext.cs
  src/SmartHome.Models/Contracts/IScenesService.cs
  src/SmartHome.ServerServices/Automation/AutomationService.bedroom.cs
  src/SmartHome.ServerServices/Scenes/ScenesService.cs
  src/SmartHome.WebAPI/Endpoints.cs
  src/SmartHome.Website/Pages/Scenes.razor.cs
Due: pipelines/website.yaml

fixed build
  src/SmartHome.ServerServices/Scenes/ScenesService.bedroom.cs
  src/SmartHome.ServerServices/Scenes/ScenesService.cs
Due: none

fixing button id
  src/SmartHome.Models/SmartDevices.custom.cs
Due: none

reordering front room
  src/SmartHome.ServerServices/Scenes/ScenesService.bedroom.cs
Due: none

patching fan on/off
  src/SmartHome.ServerServices/Clients/BondClient.cs
Due: none

fixed goodnight/snooze switching
  src/SmartHome.ServerServices/Automation/AutomationService.bedroom.cs
Due: none

increased smartthings timeout
  src/SmartHome.ServerServices/Clients/SmartThingsClient.cs
Due: none

fixed pipeline triggers
  pipelines/background.yaml
  pipelines/webAPI.yaml
  pipelines/website.yaml
Due: pipelines/background.yaml, pipelines/website.yaml

checking for "short release" event
  src/SmartHome.ServerServices/Automation/AutomationService.bedroom.cs
Due: none

dimmer calls
  src/SmartHome.ClientServices/SmartContext.cs
  src/SmartHome.Models/Contracts/IPhilipsHueClient.cs
  src/SmartHome.Models/SmartContextBase.cs
  src/SmartHome.ServerServices/AppDbContext.cs
  src/SmartHome.ServerServices/AppDbContext.custom.cs
  src/SmartHome.ServerServices/Clients/PhilipsHueClient.cs
  src/SmartHome.WebAPI/Endpoints.cs
Due: none

mapping brightness
  src/SmartHome.Models/PhilipsHue/LightModel.cs
  src/SmartHome.ServerServices/Clients/PhilipsHueClient.cs
  src/SmartHome.WebAPI/Program.cs
Due: none

brightness on web app
  src/SmartHome.ClientServices/SmartContext.cs
  src/SmartHome.WebAPI/Endpoints.cs
  src/SmartHome.WebAPI/Program.cs
  src/SmartHome.Website/Components/Device.razor
  src/SmartHome.Website/Components/Device.razor.cs
Due: pipelines/website.yaml

dial brightness
  src/SmartHome.BackgroundProcessor/Services/HueProcessor.cs
  src/SmartHome.ClientServices/SmartContext.cs
  src/SmartHome.Models/Contracts/IPhilipsHueClient.cs
  src/SmartHome.Models/DeviceType.cs
  src/SmartHome.Models/PhilipsHue/RotaryModel.cs
  src/SmartHome.Models/SmartContextBase.cs
  src/SmartHome.Models/SmartDevices.custom.cs
  src/SmartHome.ServerServices/Automation/AutomationService.front.cs
  src/SmartHome.ServerServices/Clients/PhilipsHueClient.cs
  src/SmartHome.WebAPI/Endpoints.cs
Due: pipelines/background.yaml

Path conditions:
  pipelines/background.yaml: any of: src/SmartHome.BackgroundProcessor, pipelines/background.yaml
  pipelines/website.yaml: any of: src/SmartHome.Website, pipelines/website.yaml
