Repository neville-nazerane/smart-home: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/background.yaml, pipelines/website.yaml

Path conditions:
  pipelines/background.yaml: any of: src/SmartHome.BackgroundProcessor, pipelines/background.yaml
  pipelines/website.yaml: any of: src/SmartHome.Website, pipelines/website.yaml

config clean up
  pipelines/config-template.yml
Due: none

fixed wordings
  pipelines/background.yaml
Due: pipelines/background.yaml

updating device
  src/SmartHome.ClientServices/SmartContext.cs
  src/SmartHome.Models/ClientContracts/IPhilipsHueClient.cs
  src/SmartHome.Models/SmartContextBase.cs
  src/SmartHome.ServerServices/Clients/PhilipsHueClient.cs
  src/SmartHome.WebAPI/Endpoints.cs
  src/SmartHome.Website/Pages/Index.razor
  src/SmartHome.Website/Pages/Index.razor.cs
  src/SmartHome.Website/Program.cs
  src/SmartHome.Website/Utilities/EnumerableExtensions.cs
Due: pipelines/website.yaml

fixed endpoint returning light
  src/SmartHome.WebAPI/Endpoints.cs
Due: none

fixed client updating
  src/SmartHome.Website/Pages/Index.razor.cs
Due: pipelines/website.yaml

motion sensor
  src/SmartHome.ClientServices/SmartContext.cs
  src/SmartHome.Models/ClientContracts/IPhilipsHueClient.cs
  src/SmartHome.Models/PhilipsHue/MotionModel.cs
  src/SmartHome.Models/SmartContextBase.cs
  src/SmartHome.ServerServices/Clients/PhilipsHueClient.cs
  src/SmartHome.WebAPI/Endpoints.cs
Due: none

added motion on client
  src/SmartHome.BackgroundProcessor/Services/HueProcessor.cs
  src/SmartHome.Models/DeviceChangedNotify.cs
  src/SmartHome.Website/Components/Device.razor
  src/SmartHome.Website/Pages/Index.razor.cs
Due: pipelines/background.yaml, pipelines/website.yaml

fixed motion endpoint
  src/SmartHome.WebAPI/Endpoints.cs
Due: none

fixed fetching motion info
  src/SmartHome.ServerServices/Clients/PhilipsHueClient.cs
Due: none

testing GPIO setup
  src/SmartHome.BackgroundProcessor/HueListener.cs
  src/SmartHome.Models/DeviceChangedNotify.cs
  src/SmartHome.ServerServices/GpioService.cs
  src/SmartHome.ServerServices/IGpioService.cs
  src/SmartHome.ServerServices/ServiceExtensions.cs
  src/SmartHome.ServerServices/SmartContext.cs
  src/SmartHome.ServerServices/SmartHome.ServerServices.csproj
  src/SmartHome.Website/Pages/Index.razor.cs
Due: pipelines/background.yaml, pipelines/website.yaml

read endpoint
  src/SmartHome.WebAPI/Program.cs
Due: none

running root user
  pipelines/background.yaml
  pipelines/webAPI.yaml
Due: pipelines/background.yaml

removed unwanted gpio stuffs
  src/SmartHome.ServerServices/GpioService.cs
  src/SmartHome.ServerServices/IGpioService.cs
Due: none

patched up
  src/SmartHome.BackgroundProcessor/HueListener.cs
  src/SmartHome.ServerServices/ServiceExtensions.cs
  src/SmartHome.ServerServices/SmartContext.cs
  src/SmartHome.WebAPI/Program.cs
Due: pipelines/background.yaml

bond client
  src/SmartHome.ServerServices/Clients/BondClient.cs
Due: none

fixed layout
  src/SmartHome.Website/MainLayout.razor
  src/SmartHome.Website/Pages/Index.razor
Due: pipelines/website.yaml

bond setup
  src/SmartHome.ServerServices/Clients/BondClient.cs
Due: none

pulling up states
  src/SmartHome.Models/Bond/CeilingFanModel.cs
  src/SmartHome.Models/Bond/RollerModel.cs
  src/SmartHome.ServerServices/Clients/BondClient.cs
  src/SmartHome.ServerServices/InternalJsonConverters/BondDeviceIds.cs
Due: none

all devices
  src/SmartHome.ServerServices/Clients/BondClient.cs
  src/SmartHome.ServerServices/InternalJsonConverters/BondDeviceIdsJsonConverter.cs
Due: none

bond to client
  src/SmartHome.ClientServices/SmartContext.cs
  src/SmartHome.Models/ClientContracts/IBondClient.cs
  src/SmartHome.Models/SmartContextBase.cs
  src/SmartHome.ServerServices/Clients/BondClient.cs
  src/SmartHome.ServerServices/Clients/PhilipsHueClient.cs
  src/SmartHome.ServerServices/ServiceExtensions.cs
  src/SmartHome.ServerServices/SmartContext.cs
  src/SmartHome.WebAPI/Endpoints.cs
  src/SmartHome.Website/Components/Device.razor
  src/SmartHome.Website/_Imports.razor
Due: pipelines/website.yaml

bond background processing
  src/SmartHome.BackgroundProcessor/BondListener.cs
  src/SmartHome.BackgroundProcessor/Exceptions/BondUDPException.cs
  src/SmartHome.BackgroundProcessor/Program.cs
  src/SmartHome.BackgroundProcessor/Services/BondProcessor.cs
  src/SmartHome.Models/DeviceChangedNotify.cs
  src/SmartHome.ServerServices/Clients/BondClient.cs
  src/SmartHome.ServerServices/Clients/HttpClientUtils.cs
Due: pipelines/background.yaml

clean up
  src/SmartHome.BackgroundProcessor/Services/BondProcessor.cs
Due: pipelines/background.yaml

fetching bond devices
  src/SmartHome.ClientServices/SmartContext.cs
  src/SmartHome.Models/ClientContracts/IBondClient.cs
  src/SmartHome.Models/SmartContextBase.cs
  src/SmartHome.ServerServices/Clients/BondClient.cs
  src/SmartHome.WebAPI/Endpoints.cs
  src/SmartHome.Website/Pages/Index.razor.cs
Due: pipelines/website.yaml

fixing out of bounds exception
  src/SmartHome.Website/Pages/Index.razor.cs
Due: pipelines/website.yaml

fans functionality
  src/SmartHome.BackgroundProcessor/Services/BondProcessor.cs
  src/SmartHome.ClientServices/SmartContext.cs
  src/SmartHome.Models/ClientContracts/IBondClient.cs
  src/SmartHome.Models/SmartContextBase.cs
  src/SmartHome.ServerServices/Clients/BondClient.cs
  src/SmartHome.WebAPI/Endpoints.cs
  src/SmartHome.Website/Components/Device.razor
  src/SmartHome.Website/Pages/Index.razor.cs
Due: pipelines/background.yaml, pipelines/website.yaml

fixed api path
  src/SmartHome.ClientServices/SmartContext.cs
Due: none

fixed url
  src/SmartHome.ClientServices/SmartContext.cs
Due: none

patched bond API action calls
  src/SmartHome.ServerServices/Clients/BondClient.cs
Due: none

added color utility
  src/SmartHome.ServerServices/Clients/PhilipsHueClient.cs
Due: none

fixing infinity and beyond
  src/SmartHome.BackgroundProcessor/Program.cs
  src/SmartHome.BackgroundProcessor/Services/BondProcessor.cs
  src/SmartHome.BackgroundProcessor/Util/InfinityUtil.cs
Due: pipelines/background.yaml

safe loop
  src/SmartHome.BackgroundProcessor/Services/BondProcessor.cs
Due: pipelines/background.yaml

using safe loop
  src/SmartHome.BackgroundProcessor/Program.cs
  src/SmartHome.BackgroundProcessor/Services/BondProcessor.cs
  src/SmartHome.BackgroundProcessor/Services/HueProcessor.cs
Due: pipelines/background.yaml

color setter
  src/SmartHome.ClientServices/SmartContext.cs
  src/SmartHome.Models/ClientContracts/IPhilipsHueClient.cs
  src/SmartHome.Models/PhilipsHue/LightModel.cs
  src/SmartHome.Models/SmartContextBase.cs
  src/SmartHome.ServerServices/Clients/PhilipsHueClient.cs
  src/SmartHome.WebAPI/Endpoints.cs
  src/SmartHome.Website/Components/Device.razor
  src/SmartHome.Website/Components/Device.razor.cs
Due: pipelines/website.yaml

listener logic
  src/SmartHome.Models/DeviceType.cs
  src/SmartHome.Models/Extensions/ListenableExtensions.cs
  src/SmartHome.Models/IListenableDevice.cs
  src/SmartHome.Models/ListenedDevice.cs
  src/SmartHome.Models/SmartContextBase.cs
Due: none

sql lite setup
  src/SmartHome.BackgroundProcessor/Program.cs
  src/SmartHome.BackgroundProcessor/SmartHome.BackgroundProcessor.csproj
  src/SmartHome.Models/DeviceLog.cs
  src/SmartHome.ServerServices/AppDbContext.cs
  src/SmartHome.ServerServices/ServiceExtensions.cs
  src/SmartHome.ServerServices/SmartHome.ServerServices.csproj
  src/SmartHome.WebAPI/Program.cs
  src/SmartHome.WebAPI/SmartHome.WebAPI.csproj
Due: pipelines/background.yaml

nugets
  src/SmartHome.ClientServices/SmartHome.ClientServices.csproj
  src/SmartHome.ServerServices/AppDbContext.cs
  src/SmartHome.ServerServices/Migrations/20230617053433_Logs.Designer.cs
  src/SmartHome.ServerServices/Migrations/20230617053433_Logs.cs
  src/SmartHome.ServerServices/Migrations/AppDbContextModelSnapshot.cs
  src/SmartHome.Website/SmartHome.Website.csproj
Due: pipelines/website.yaml

fixed migrations
  src/SmartHome.ServerServices/AppDbContext.cs
  src/SmartHome.ServerServices/Migrations/20230617053433_Logs.Designer.cs
  src/SmartHome.ServerServices/Migrations/20230617053433_Logs.cs
  src/SmartHome.ServerServices/Migrations/20230617053732_Logs.Designer.cs
  src/SmartHome.ServerServices/Migrations/20230617053732_Logs.cs
Due: none

adding to log
  src/SmartHome.BackgroundProcessor/MainListener.cs
  src/SmartHome.BackgroundProcessor/Program.cs
  src/SmartHome.BackgroundProcessor/Services/BackgroundQueue.cs
  src/SmartHome.BackgroundProcessor/Services/ListenerQueue.cs
  src/SmartHome.BackgroundProcessor/Services/MainProcessor.cs
  src/SmartHome.Models/DeviceLog.cs
  src/SmartHome.ServerServices/Migrations/20230617060635_LogDeviceType.Designer.cs
  src/SmartHome.ServerServices/Migrations/20230617060635_LogDeviceType.cs
Due: pipelines/background.yaml

smart devices custom
  src/SmartHome.Models/SmartDevices.cs
  src/SmartHome.Models/SmartDevices.custom.cs
  src/SmartHome.Website/Components/Device.razor
  src/SmartHome.Website/SmartHome.Website.csproj
  src/SmartHome.Website/wwwroot/index.html
Due: pipelines/website.yaml

device ids
  src/SmartHome.Website/Components/Device.razor
  src/SmartHome.Website/Components/Device.razor.cs
  src/SmartHome.Website/SmartHome.Website.csproj
Due: pipelines/website.yaml
