Repository neville-nazerane/smart-home: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/background.yaml, pipelines/website.yaml

Path conditions:
  pipelines/background.yaml: any of: src/SmartHome.BackgroundProcessor, pipelines/background.yaml
  pipelines/website.yaml: any of: src/SmartHome.Website, pipelines/website.yaml

removing unwanted brackets
  src/SmartHome.Website/Components/Device.razor
Due: pipelines/website.yaml

setting up custom
  src/SmartHome.Models/SmartDevices.cs
  src/SmartHome.Models/SmartDevices.custom.cs
Due: none

listen to changes in bond
  src/SmartHome.BackgroundProcessor/Services/BondProcessor.cs
  src/SmartHome.BackgroundProcessor/Services/HueProcessor.cs
  src/SmartHome.Models/DeviceChangedNotify.cs
  src/SmartHome.Models/DeviceLog.cs
  src/SmartHome.Models/DeviceType.cs
  src/SmartHome.Models/SmartContextBase.cs
  src/SmartHome.Models/SmartDevices.cs
  src/SmartHome.ServerServices/Migrations/20230617234733_LogName.Designer.cs
  src/SmartHome.ServerServices/Migrations/20230617234733_LogName.cs
Due: pipelines/background.yaml

fixed build in blazor
  src/SmartHome.Website/Pages/Index.razor.cs
Due: pipelines/website.yaml

getting logs
  src/SmartHome.BackgroundProcessor/Services/MainProcessor.cs
  src/SmartHome.ClientServices/SmartContext.cs
  src/SmartHome.Models/SmartContextBase.cs
  src/SmartHome.ServerServices/SmartContext.cs
  src/SmartHome.WebAPI/Endpoints.cs
Due: pipelines/background.yaml

listing device logs
  src/SmartHome.ServerServices/SmartContext.cs
  src/SmartHome.Website/Pages/ListenedLogs.razor
  src/SmartHome.Website/Pages/ListenedLogs.razor.cs
  src/smart home.sln
Due: pipelines/website.yaml

adding to menu
  src/SmartHome.Website/MainLayout.razor
  src/SmartHome.Website/Pages/ListenedLogs.razor.cs
Due: pipelines/website.yaml

null check
  src/SmartHome.Models/SmartContextBase.cs
Due: none

fixed all null checks
  src/SmartHome.Models/SmartContextBase.cs
Due: none

fixing hue processor
  src/SmartHome.BackgroundProcessor/Program.cs
  src/SmartHome.BackgroundProcessor/Services/HueProcessor.cs
Due: pipelines/background.yaml

fixed logging
  src/SmartHome.BackgroundProcessor/Services/MainProcessor.cs
  src/SmartHome.ClientServices/SmartContext.cs
  src/SmartHome.Models/SmartContextBase.cs
  src/SmartHome.ServerServices/SmartContext.cs
  src/SmartHome.WebAPI/Endpoints.cs
  src/SmartHome.Website/Pages/ListenedLogs.razor.cs
Due: pipelines/background.yaml, pipelines/website.yaml

id clean up
  src/SmartHome.BackgroundProcessor/DbCleanupWorker.cs
  src/SmartHome.BackgroundProcessor/Program.cs
  src/SmartHome.Website/Pages/ListenedLogs.razor
Due: pipelines/background.yaml, pipelines/website.yaml

fixed background process
  src/SmartHome.BackgroundProcessor/Program.cs
  src/SmartHome.BackgroundProcessor/Services/BondProcessor.cs
  src/SmartHome.Models/DeviceType.cs
  src/SmartHome.ServerServices/Clients/BondClient.cs
  src/SmartHome.ServerServices/Clients/HttpClientUtils.cs
  src/SmartHome.Website/Pages/Index.razor.cs
Due: pipelines/background.yaml, pipelines/website.yaml

fixing signalR
  src/SmartHome.BackgroundProcessor/Services/ApiConsumer.cs
  src/SmartHome.BackgroundProcessor/Services/MainProcessor.cs
  src/SmartHome.ClientServices/ChangeListener.cs
  src/SmartHome.Models/DeviceChangedNotify.cs
  src/SmartHome.WebAPI/Endpoints.cs
  src/SmartHome.Website/Pages/Index.razor.cs
Due: pipelines/background.yaml, pipelines/website.yaml

new base features on models
  src/SmartHome.Models/Bond/CeilingFanModel.cs
  src/SmartHome.Models/Bond/RollerModel.cs
  src/SmartHome.Models/DeviceModelBase.cs
  src/SmartHome.Models/Extensions/ListenableExtensions.cs
  src/SmartHome.Models/Extensions/RequestDeviceExtensions.cs
  src/SmartHome.Models/IListenableDevice.cs
  src/SmartHome.Models/PhilipsHue/LightModel.cs
  src/SmartHome.Models/PhilipsHue/MotionModel.cs
  src/SmartHome.Models/RequestableDeviceBase.cs
  src/SmartHome.Models/SmartContextBase.cs
  src/SmartHome.Models/SmartDevices.cs
  src/SmartHome.Website/Pages/Index.razor.cs
Due: pipelines/website.yaml

ci: add Azure Static Web Apps workflow file on-behalf-of: @Azure opensource@microsoft.com
  .github/workflows/azure-static-web-apps-red-plant-0f9ed461e.yml
Due: none

AllowCredentials
  src/SmartHome.WebAPI/Program.cs
Due: none

added back service worker
  src/SmartHome.Website/SmartHome.Website.csproj
  src/SmartHome.Website/wwwroot/index.html
  src/SmartHome.Website/wwwroot/js/service-worker.js
  src/SmartHome.Website/wwwroot/js/service-worker.published.js
Due: pipelines/website.yaml

fixed broken master
  src/SmartHome.Website/wwwroot/index.html
  src/SmartHome.Website/wwwroot/service-worker.js
  src/SmartHome.Website/wwwroot/service-worker.published.js
Due: pipelines/website.yaml

rolled back
  src/SmartHome.WebAPI/Program.cs
  src/SmartHome.Website/SmartHome.Website.csproj
  src/SmartHome.Website/wwwroot/index.html
Due: pipelines/website.yaml

removed workflow for github
  .github/workflows/azure-static-web-apps-red-plant-0f9ed461e.yml
Due: none

fixed dotnet path for API
  pipelines/webAPI.yaml
Due: none

Update webAPI.yaml for Azure Pipelines
  pipelines/webAPI.yaml
Due: none

logging only if device is listened to
  src/SmartHome.BackgroundProcessor/MainListener.cs
  src/SmartHome.BackgroundProcessor/Services/BondProcessor.cs
  src/SmartHome.BackgroundProcessor/Services/HueProcessor.cs
  src/SmartHome.BackgroundProcessor/Services/MainProcessor.cs
Due: pipelines/background.yaml

queue clean up
  src/SmartHome.BackgroundProcessor/Services/ListenerQueue.cs
  src/SmartHome.BackgroundProcessor/Util/BackgroundQueue.cs
Due: pipelines/background.yaml

background queue clean ups
  src/SmartHome.BackgroundProcessor/MainListener.cs
  src/SmartHome.BackgroundProcessor/Program.cs
  src/SmartHome.BackgroundProcessor/Services/BondProcessor.cs
  src/SmartHome.BackgroundProcessor/Services/HueProcessor.cs
  src/SmartHome.BackgroundProcessor/Services/MainProcessor.cs
  src/SmartHome.BackgroundProcessor/Util/BackgroundQueue.cs
  src/SmartHome.BackgroundProcessor/Util/InfinityUtil.cs
  src/SmartHome.ServerServices/AutomationService.cs
  src/SmartHome.ServerServices/ServiceExtensions.cs
Due: pipelines/background.yaml

fixed logging
  src/SmartHome.BackgroundProcessor/Program.cs
  src/SmartHome.ServerServices/AutomationService.cs
Due: pipelines/background.yaml

moved db clean up delay
  src/SmartHome.BackgroundProcessor/DbCleanupWorker.cs
Due: pipelines/background.yaml

sort before order
  src/SmartHome.ServerServices/SmartContext.cs
Due: none

motion logic
  src/SmartHome.BackgroundProcessor/DbCleanupWorker.cs
  src/SmartHome.BackgroundProcessor/Services/BondProcessor.cs
  src/SmartHome.BackgroundProcessor/Services/MainProcessor.cs
  src/SmartHome.Models/DeviceLog.cs
  src/SmartHome.Models/SmartContextBase.cs
  src/SmartHome.ServerServices/Automation/AutomationService.cs
  src/SmartHome.ServerServices/Automation/AutomationService.custom.cs
  src/SmartHome.ServerServices/AutomationService.cs
  src/SmartHome.ServerServices/Clients/PhilipsHueClient.cs
  src/SmartHome.ServerServices/Migrations/20230620071743_LogState.Designer.cs
  src/SmartHome.ServerServices/Migrations/20230620071743_LogState.cs
  src/SmartHome.ServerServices/ServiceExtensions.cs
  src/SmartHome.ServerServices/SmartContext.cs
  src/SmartHome.Website/Pages/ListenedLogs.razor
Due: pipelines/background.yaml, pipelines/website.yaml

printing state
  src/SmartHome.Website/Pages/ListenedLogs.razor
Due: pipelines/website.yaml

timer with closet closer
  src/SmartHome.BackgroundProcessor/AutomationTimer.cs
  src/SmartHome.BackgroundProcessor/Program.cs
  src/SmartHome.BackgroundProcessor/Services/MainProcessor.cs
  src/SmartHome.Models/PhilipsHue/MotionModel.cs
  src/SmartHome.ServerServices/Automation/AutomationService.cs
  src/SmartHome.ServerServices/Automation/AutomationService.custom.cs
  src/SmartHome.ServerServices/Clients/PhilipsHueClient.cs
Due: pipelines/background.yaml

buttons setup
  src/SmartHome.BackgroundProcessor/Services/HueProcessor.cs
  src/SmartHome.ClientServices/SmartContext.cs
  src/SmartHome.Models/ClientContracts/IPhilipsHueClient.cs
  src/SmartHome.Models/DeviceType.cs
  src/SmartHome.Models/PhilipsHue/ButtonModel.cs
  src/SmartHome.Models/SmartContextBase.cs
  src/SmartHome.Models/SmartDevices.custom.cs
  src/SmartHome.ServerServices/Automation/AutomationService.closet.cs
  src/SmartHome.ServerServices/Automation/AutomationService.custom.cs
  src/SmartHome.ServerServices/Clients/PhilipsHueClient.cs
  src/SmartHome.WebAPI/Endpoints.cs
Due: pipelines/background.yaml

fan control
  src/SmartHome.BackgroundProcessor/Services/MainProcessor.cs
  src/SmartHome.Models/RequestableDeviceBase.cs
  src/SmartHome.Models/SmartContextBase.cs
  src/SmartHome.Models/SmartDevices.cs
  src/SmartHome.Models/SmartDevices.custom.cs
  src/SmartHome.ServerServices/Automation/AutomationService.bedroom.cs
  src/SmartHome.ServerServices/Automation/AutomationService.closet.cs
  src/SmartHome.ServerServices/Automation/AutomationService.cs
  src/SmartHome.ServerServices/Automation/AutomationService.custom.cs
Due: pipelines/background.yaml

setup scenes
  src/SmartHome.Models/Scene.cs
  src/SmartHome.Models/SceneNames.custom.cs
  src/SmartHome.ServerServices/AppDbContext.cs
  src/SmartHome.ServerServices/AppDbContext.custom.cs
Due: none

seeding scenes
  src/SmartHome.ServerServices/AppDbContext.custom.cs
  src/SmartHome.ServerServices/ServiceExtensions.cs
Due: none

scene service
  src/SmartHome.ServerServices/ScenesService.cs
  src/SmartHome.ServerServices/ServiceExtensions.cs
Due: none

get scenes
  src/SmartHome.ClientServices/SmartContext.cs
  src/SmartHome.Models/SmartContextBase.cs
  src/SmartHome.ServerServices/SmartContext.cs
  src/SmartHome.WebAPI/Endpoints.cs
Due: none

scenes with signalR
  src/SmartHome.BackgroundProcessor/Program.cs
  src/SmartHome.BackgroundProcessor/Services/BondProcessor.cs
  src/SmartHome.BackgroundProcessor/Services/HueProcessor.cs
  src/SmartHome.BackgroundProcessor/Services/MainProcessor.cs
  src/SmartHome.BackgroundProcessor/Services/SignalRPusher.cs
  src/SmartHome.ServerServices/ISignalRPusher.cs
  src/SmartHome.ServerServices/ScenesService.cs
  src/SmartHome.WebAPI/Endpoints.cs
  src/SmartHome.WebAPI/Program.cs
  src/SmartHome.WebAPI/Services/SignalRPusher.cs
Due: pipelines/background.yaml

dispose signalr
  src/SmartHome.Models/SmartContextBase.cs
  src/SmartHome.Website/Pages/Index.razor.cs
Due: pipelines/website.yaml
